<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
</head>
<body>
{{$x := .}}
{{range $x}}
<h1> My meaning of life: {{. | getStruct | getName}}, {{. | getStruct | getPower}}</h1>
{{end}}
<h1> The best one is {{index $x 0}} </h1>
</body>
</html>